.todo2nd {
  background-color: #222;
  margin: 0.5rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.todo2nd:hover {
  background-color: #111;
}

.todo2nd p {
  opacity: 0.6;
}

.btn {
  border: none;
  background-color: transparent;
  color: crimson;
  cursor: pointer;
}
